SERVER_HOST=127.0.0.1
SERVER_PORT=51000
SERVER_TIMEOUT_MS=60000
TMP_DIR=./tmp
LOG_DIR=./log
LOG_FILE=app.log
LOG_LEVEL=error, info  // Options: log, error, warn, info
SNAPSHOT=false
STABLE_PAGE_TIMEOUT=500
FETCH_HTML_TIMEOUT=1000
