SERVER_HOST=127.0.0.1
SERVER_PORT=51000
SERVER_TIMEOUT_MS=60000
TMP_DIR=./tmp
LOG_DIR=./log
LOG_FILE=app.log
LOG_LEVEL=error, info  // Options: log, error, warn, info
STABLE_PAGE_TIMEOUT=500
FETCH_HTML_TIMEOUT=1000
SNAPSHOT=false
STRIP_CSS=false
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36
